body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.panels {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.panel p {
    font-size: 50px;
    color: white;
}

.panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.panel > * {
    transition: transform 0.5s;
}

.panel.open {
    flex: 5;
    text-decoration: none;
}

.panel1 {
    background-image: url('../images/index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panel2 {
    background-image: url('../images/index2.jpg');
    background-size: cover;
}

.panel3 {
    background-image: url('../images/index3.jpg');
    background-size: cover;
}

.panel4 {
    background-image: url('../images/index4.jpg');
    background-size: cover;
}

.panel5 {
    background-image: url('../images/index5.jpg');
    background-size: cover;
}

.panel > *:first-of-type { transform: translateY(-400%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(400%); }
.panel.open-active > *:last-child { transform: translateY(0); }


